<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		 <link
        		rel="stylesheet"
        		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    		/>
	</head>
	<body>
		<nav class="navbar navbar-light bg-custom">
			<a id="b-color" class="navbar-brand" href="/">Home</a>
			<a id="b-color" class="navbar-brand" href="/about">About</a>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>About</h2>
					<p>
						I've created this website in an effort to help me predict the
						outcome of a match and to gauge a player's strengths. I look at
						long-term indicators as well as recent trends because as may of you
						know, tennis can be a sport of streaks. If you wish to see any other
						stats in the 'player v. player' style please reahch out to me and I
						will add them to the site.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
