<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
        <link rel="stylesheet" href="/stylesheets/match.css">
		<title>Margin of Victory</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-custom">
			<a id="b-color" class="navbar-brand" href="/">Home</a>
			<a id="b-color" class="navbar-brand match-link" href="">Match</a>
			<a  id="b-color" class="navbar-brand" href="/about">About</a>
		</nav>
		<div id="container"></div>
		<div>
			<p>The Spreads above represent the differce between games in the final score. Formatted the same as one would see at a book (-4 indicates a win by four games, 5 indicates a loss of 5)</p>
		</div>
	</body>
	<script>
		          var margin = <%-JSON.stringify(spread)-%>;
		          var players = <%-JSON.stringify(player)-%>;
		          console.log(margin);
		          console.log(margin['Elina Svitolina']);
		Highcharts.chart('container', {

		    chart: {
		        type: 'line'
		    },
		    title: {
		        text: 'Margin of Victory'
		    },

		    xAxis: {
		        categories: [ '0', '1', '2','3','4','5','6','7','8','9','10','11','12', '-12', '-11', '-10', '-9', '-8', '-7', '-6', '-5', '-4', '-3', '-2', '-1',]
		    },
		    yAxis: {
		        title: {
		            text: 'Frequency in Spread Category'
		        }
		    },
		    plotOptions: {
		        line: {
		            dataLabels: {
		                enabled: true
		            },
		            enableMouseTracking: false
		        }
		    },

		series: [{
		    name: players[0],
		    data: Object.values(margin[players[0]])
		},  {
		          name: players[1],
		          data: Object.values(margin[players[1]])
		      }],



		});
	</script>
	<script src="/scripts/path.js"></script>
</html>
